:root {
    --primary-color: #1769aa;
    --secondary-color: #ff3d00;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    margin: 0;
    background-color: #f4f4f4;
}

/* global */
.container {
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #606060;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
}

.large {
    font-size: 2.5rem;
}

.lead {
    font-size: 2rem;
}

.text-primary {
    color: var(--primary-color);
}

/* navbar */
.navbar {
    height: 70px;
    border-bottom: 1px solid #c0c0c0;
    background-color: #fff;
    position: sticky;
    top: 0%;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul li a {
    padding-left: 1rem;
}

.navbar h1 {
    font-size: 2rem;
    text-transform: uppercase;
}